{% extends "layout.html" %}

{% block title %}<title>FM24-Competitions Stats</title>{% endblock %}

{% block css %}
<style>
    table{
        width: 100%;
    }
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    #league-pos{
        width: 2%;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h2></h2>
    <select name="" id="" draggable="true">
        <option disabled value="Stats" default>Stats</option>
        <option value="Do Not Show Stats">Don't Show Stats</option>
        <option value="Show Stats">Show Stats</option>
    </select>
    <a href="/competition/stats">
        <button>
            Refresh
        </button>
    </a>
</div>
<div>
    <table>
        <tr>
            <th colspan="11">{{league_name}}</th>
        </tr>
        <tr>
            <th id="league-pos">Pos</th>
            <th class="club-name">Club Name</th>
            <th class="table-attr">P</th>
            <th class="table-attr">W</th>
            <th class="table-attr">D</th>
            <th class="table-attr">L</th>
            <th class="table-attr">GA</th>
            <th class="table-attr">GF</th>
            <th class="table-attr">GD</th>
            <th class="table-attr">PTS</th>
            <th>Win Rate</th>
            <th>Draw Rate</th>
            <th>Lose Rate</th>
            <th>GA Rate</th>
            <th>GF Rate</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{club.league_pos}}</td>
            <td>
                <a href="/view_club/{{club._id}}" class="hover-link">
                    {{club.name}}
                </a>
            </td>
            <td>{{club.P}}</td>
            <td>{{club.W}}</td>
            <td>{{club.D}}</td>
            <td>{{club.L}}</td>
            <td>{{club.GA}}</td>
            <td>{{club.GF}}</td>
            <td>{{club.GD}}</td>
            <td>{{club.PTS}}</td>
            <td>{{club.win_rate}}</td>
            <td>{{club.draw_rate}}</td>
            <td>{{club.loss_rate}}</td>
            <td>{{club.ga_rate}}</td>
            <td>{{club.gf_rate}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{avarages.get('W')}}</td>
            <td>{{avarages.get('D')}}</td>
            <td>{{avarages.get('L')}}</td>
            <td>{{avarages.get('GA')}}</td>
            <td>{{avarages.get('GF')}}</td>
            <td>{{avarages.get('GD')}}</td>
            <td>{{avarages.get('PTS')}}</td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    {% for result in all_results %}
    <div>Results: {{result}}</div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}{% endblock %}